.nav-container {
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    height: 95vh;
    width:9rem;
}

.logo {
    margin: 1.5rem 2.5rem 1.5rem 1.5rem;
    font-size: 1.5rem;
    color: white;
    
}

.n {
    color: rgb(193, 0, 0);
}

.nav-menu {

    max-height: 60vh;
    min-height: 20vh;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin: 2rem auto; 
    padding: 1rem; 
    max-width: 100%;
    min-width: 50%;
    max-height: 20%;
    min-height: 15%;

}

.link-btn {
display: inline-block;
position: relative;
width: 100%;
height: 20%;
background-color: transparent;
outline: none;
border: none;
width: 100%;
height: 100%;
cursor: pointer;
transition: 0.75s;
font-size: 1.3rem;
color: white;

}

.link-btn:hover {
    box-shadow: inset 100px 0 0 0 rgb(193, 0, 0);
    color: white;
}

.nav-links {
    text-decoration: none;

}

.logo a{
    font-family: 'Rye', cursive;
    color: white;
}
