.park-list-bckrnd {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assests/imgs/wheel-bg-blur.jpg');
    background-size: cover;
    background-position: center;
}



.park-list-cnt {
    max-width: 90vw;
    min-width: 50vw;
    max-height: 100vh;
    min-height: 60vh;
    /* background-color: red; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
   
}

.park-cards {
display: flex;  
width: 85vw;
height: 85vh;
/* background-color: blanchedalmond; */
justify-content: flex-start;
align-items: center;
overflow-x: scroll;

}

