/* img {
    width: 200px;
    height: 200px;
} */
.ride-card img {
    width: 100%;
    height: 200px;
}


.ride-card {
    width: 300px;
    height: 300px;
    background-color:rgb(0, 11, 165);
    overflow: hidden;
    transition: 340ms;
    transition-timing-function: ease-in;
    margin: 5px 0 10px 0;
    border-radius: 5px 5px 0 0;
    
}

.ride-card:hover {
    height: 500px;
    border-radius: 5px;
    
}