/* img {
    width: 200px;
    height: 200px;
} */
.ride-card img {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid black;
    box-shadow: -10px 5px 5px rgba(0, 0, 0, 0.5);
}


.ride-card {
    width: 70%;
    height: 300px;
    background-color: #5F5163;
    overflow: hidden;
    transition: 340ms;
    transition-timing-function: ease-in;
    margin: 5px 0 10px 0;
    border-radius: 5px 5px 0 0;
    color: black;
}

.ride-card:hover {
    height: 500px;
    border-radius: 5px;
    
}

.ride-card h3 {
    margin-top: 3px;
    font-family: 'Rye', cursive;
      
}

