.park-card {
    display: flex; 
    width: 27vw;
    height: 70vh;
    background-color: aquamarine;
    /* margin: 1rem; */
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: -4em;
    border: 1px solid black;
    box-shadow: -10px 5px 5px black;
    transition: 380ms;
    transition-timing-function: ease-out;
} 

.park-card:hover {
    z-index: 1;
    transform: translateY(-20px);
}

.park-card:hover ~ .park-card {
    transform: translateX(50px);
  }
  