.park-deets-bg {
    width: 100vw;
    height: 100vh;
    background-size: 200%;
    background-position:center;
    background-repeat:no-repeat;
    
    
}

.park-deets-parent {
    width:84.7%;
    height: 100%;
    
    display: flex;
    
    
}

.park-rides {
    height: 80vh;
    width: 35vw;
    background-color: transparent;
    margin-top: 5.5rem;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    overflow: scroll;
}

.park-deets-cntr {
    display: flex;
    flex-direction: column;
    background-color: #5F5163;
    height: 80vh;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    float: right;
    margin-top: 5.5rem;
    border-radius: 5px;
    margin-right: 8rem;
    overflow: hidden;
    color: black;
}
.park-deets-cntr img {
    width: 100%;
    height: 40vh;
    border-bottom: 1px solid black;
    box-shadow: -10px 5px 5px rgba(0, 0, 0, 0.5);
}

.dlt-btn {
    
    height: 40px;
    width: 100px;
    background-color: red;
    color: white;
    font-family:  'Rye', cursive;
    /* border: 2px dotted yellow; */
    border:none;
    transition: 315ms;
    transition-timing-function: ease-in;
    
    
    
}

.dlt-btn:hover {
    cursor: pointer;
    height: 50px;
    width: 120px;
    box-shadow:  -10px 5px 5px rgba(0, 0, 0, 0.45);

}

.park-deets-cntr h2 {
    margin-top: 5px;
    font-size: 35px;
}

.current-park-name {
    font-family: 'Rye', cursive;
}

.card-location {
    font-size: 20px;
}
